<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Area</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>List</h1>
	<div>
		<a th:href="@{'/area/add'}">Add</a>
	</div>
    <table style="border: 1px solid; width: 500px; text-align:center">
	 <thead style="background:#fcf">
	  <tr>
	   <th>Id</th>
	   <th>Image</th>
	   <th>Title</th>
	   <th>Description</th>
	   <th></th>
	  </tr>
	 </thead>
	 <tbody>
	 <tr th:each="area : ${areas}">
	    <td th:text="${area.id}"></td>
	    <td><img th:src="@{'/image/' + ${area.image}}" width="80px"/></td>
	    <td th:text="${area.title}"></td>
	    <td th:text="${area.description}"></td>
	    <td>
	    	<a th:href="@{'/area/delete?id=' + ${area.id}}">Delete</a>
	    	<a th:href="@{'/area/edit?id=' + ${area.id}}">Edit</a>
	    </td>
	 </tr>
	 </tbody>
	</table>
</body>
</html>