<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'id: ' + ${area.id}" />
    <p th:text="'title: ' + ${area.title}" />
    <p th:text="'description: ' + ${area.description}" />
    <a href="/area/add">Submit another message</a>
</body>
</html>